.chatmain_container {
  padding: 2rem;
  color: white;
  background-color: #8f00ff;
  opacity: 1;
  background-image: radial-gradient(
      #e5c3ff 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    radial-gradient(#e5c3ff 1.2000000000000002px, #8f00ff 1.2000000000000002px);
  background-size: 48px 48px;
  background-position: 0 0, 24px 24px;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f00ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b14dff;
}

.chat_container {
  background-color: #fff;
  color: #8f00ff;
  height: 60vh;
  padding: 2rem;
  border-radius: 0px 0 5px 5px ;
  overflow: hidden;
  overflow-y: scroll;
}

.message_text,
.message_text1 {
  background-color: #8f00ff;
  color: white;
  padding: 0.75rem;
  padding-left: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
}

.message_text1 {
  background-color: #7700d4;
}

.message_box {
  margin: 1rem 0;
}

.username,
.username1 {
  color: #404040;
  font-family: "Poppins";
  font-size: 0.8rem;
}

.username1 {
  color: #6716a5;
}

.inputmain_container {
  margin-top: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}
.input_field {
  width: 100%;
  border: none;
  padding-left: 0.5rem;
}

.sent_btn {
  padding: 0.5rem 1.5rem;
  background-color: #8f00ff;
  border: none;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
  .chat_main {
    margin: auto;
    max-width: 1000px;
    align-items: center;
  }
}

.message_text,
.message_text1 {
  width: fit-content;
}

.received_msg,
.send_msg {
  margin: 0.5rem 0;
}

.message_text {
  border-radius: 15px 15px 15px 0px;
}

.message_text1 {
  border-radius: 15px 15px 0 15px;
}

.send_msg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat_view {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.white_space {
  background-color: #fff;
  height: 3rem;
  border-radius: 5px 5px 0 0;
}
